header {
  width: 100%;
  height: 160px;
  background-color: #2980b9;
  position: relative;
}

.mainHeader {
  color: white;
  font-size: 48px;
  height: 49px;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
