<div class="wrapperTable">
  <table>
    <thead>
      <tr>
        <td class="id_header"> id </td>
        <td class="name_header"> name </td>
        <td class="email_header"> eMail </td>
        <td class="status_header"> status </td>
        <td class="more_header">more</td>
      </tr>
    </thead>
    <tbody class="renderElem" *ngIf="users">
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.status}}</td>
        <td><a [routerLink]="['user', user.id]">more</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="buttonsTable">
  <a routerLink='' (click)="refreshUserTable()">refresh user table</a>
  <a routerLink='/new' >add new user</a>
</div>

