<header>
  <div class="mainHeader">User Table App</div>
</header>
<div class="wrapperTable">
  <table>
    <thead>
      <tr>
        <td class="id_header"> id </td>
        <td class="name_header"> name </td>
        <td class="email_header"> eMail </td>
        <td class="status_header"> status </td>
        <td class="more_header">more</td>
      </tr>
    </thead>
    <tbody class="renderElem">
    <tr>
      <td class="id_1"></td>
      <td class="name_1"></td>
      <td class="email_1"></td>
      <td class="status_1"></td>
      <td class="more_1"><a routerLink='/user-1'>more</a></td>
    </tr>
    <tr>
      <td class="id_2"></td>
      <td class="name_2"></td>
      <td class="email_2"></td>
      <td class="status_2"></td>
      <td class="more_2"><a routerLink='/user-2'>more</a></td>
    </tr>
    <tr>
      <td class="id_3"></td>
      <td class="name_3"></td>
      <td class="email_3"></td>
      <td class="status_3"></td>
      <td class="more_3"><a routerLink='/user-3'>more</a></td>
    </tr>
    <tr>
      <td class="id_4"></td>
      <td class="name_4"></td>
      <td class="email_4"></td>
      <td class="status_4"></td>
      <td class="more_4"><a routerLink='/user-4'>more</a></td>
    </tr>
    <tr>
      <td class="id_5"></td>
      <td class="name_5"></td>
      <td class="email_5"></td>
      <td class="status_5"></td>
      <td class="more_5"><a routerLink='/user-5'>more</a></td>
    </tr>
    <tr>
      <td class="id_6"></td>
      <td class="name_6"></td>
      <td class="email_6"></td>
      <td class="status_6"></td>
      <td class="more_6"><a routerLink='/user-6'>more</a></td>
    </tr>
    <tr>
      <td class="id_7"></td>
      <td class="name_7"></td>
      <td class="email_7"></td>
      <td class="status_7"></td>
      <td class="more_7"><a routerLink='/user-7'>more</a></td>
    </tr>
    <tr>
      <td class="id_8"></td>
      <td class="name_8"></td>
      <td class="email_8"></td>
      <td class="status_8"></td>
      <td class="more_8"><a routerLink='/user-8'>more</a></td>
    </tr>
    <tr>
      <td class="id_9"></td>
      <td class="name_9"></td>
      <td class="email_9"></td>
      <td class="status_9"></td>
      <td class="more_9"><a routerLink='/user-9'>more</a></td>
    </tr>
    <tr>
      <td class="id_10"></td>
      <td class="name_10"></td>
      <td class="email_10"></td>
      <td class="status_10"></td>
      <td class="more_10"><a routerLink='/user-10'>more</a></td>
    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
